html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

.container {
	width: 100%;
	padding: 0 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
	width: 100%;
	max-width: 660px;
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	margin: 0 .5em 1em;
	height: 95px;
	width: 95px;
	background: #2e3d49;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	-webkit-transform: rotateY(1turn);
	transform: rotateY(1turn);
	-webkit-transition: transform 0.6s;
	transition: transform 0.6s;
}

.deck .card .fa {
	font-size: 0;
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
}

.deck .card.show .fa {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: bounce;
	transform-origin: center bottom;
}

.deck .card.match .fa {
	font-size: 33px;
}

.deck .card.mismatch {
	background: #C91F37;
	animation-duration: .6s;
	animation-fill-mode: both;
	animation-name: shake;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
	width: 100%;
	max-width: 600px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	cursor: pointer;
}

/* timer */
.timer-wrap {
	display: inline-block;
	width: 100px;
}

.text-center {
	text-align: center;
}

/* Mediaqueries */
@media screen and (min-width: 360px) {
	.deck .card {
		height: 110px;
		width: 110px;
	}
}

@media screen and (min-width: 480px) {
	.deck .card {
		height: 125px;
		width: 125px;
	}
}

@media screen and (min-width: 768px) {
	.deck .card {
		margin: 0;
	}
}